:root {
    --blue: #0000FF;
    --light-blue: #047bff;
    --white: #FFFFFF;
    --gray: #c0c0c0;
    --light-gray: #e5e5e5;
    --black: #000000;
    --dark-gray: #4d4d4d;
    --font-size-001: 8px;
    --font-size-002: 16px;
    --font-size-004: 32px;
    --font-size-004: 64px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Michroma, Arial, Helvetica, sans-serif;
    background: var(--white);
}

.Scene {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

main #SIGNING_FORM {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 10%;
    padding-bottom: 25px;
    align-items: center;
    width: 400px;
    background: white;
    border: 1px solid var(--black);
    box-shadow: 0 0 5px 1px var(--dark-gray);
}

main #BTN_HEADER {
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    justify-content: center;
    width: 100%;
    height: 50px;
}

button,
#CHKBOX_IM_NOT_A_ROBOT,
#LBL_IM_NOT_A_ROBOT,
#LBL_USER_NAME,
#LBL_PASSWORD {
    cursor: pointer;
}

main #SIGNING_FORM button:hover {
    background-color: var(--light-blue);
    color: white;
    box-shadow: 0 0 5px 1px var(--dark-gray);
}

main #BTN_HEADER button {
    background: var(--light-gray);
    width: 50%;
    height: 100%;
}

main .ChkboxImNotARobot {
    display: flex;
    flex-direction: row;
    gap: 10px;
    user-select: none;
    padding: 10px;
    width: 100%;
    justify-content: center;
}

main #BTN_FOOTER {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
}

main #BTN_FOOTER button {
    width: 100%;
    height: 100%;
}